[submodule "server/skynet/3rd/jemalloc"]
	path = server/skynet/3rd/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "server/3rd/package/redox"]
	path = server/3rd/package/redox
	url = https://github.com/hmartiro/redox
